*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(82, 77, 77);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-photos{
    width: 200px;
}
.menu{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.item{
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    color: green;
}


/* main section related */
.banner-text{
    width: 45%;
}
.main-header{
    font-size: 54px;
    font-weight:800;
}
.main-paragraph{
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0px;
}
.banner-button{
    background-color: rgb(249, 2, 2);
    padding: 15px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    /* margin-top: 30px; */
}
.banner-image{
    width: 300px;
    height: 300px;
}
.banner-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    color: white;
    background-image: url("/images/background.png") , linear-gradient(45deg , #333333 , #2a2727);
}

/* second section start */
.second-main-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px ;
}
.about-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: row-reverse;
    /* padding: 40px; */
}
.about-photo{
    width: 350px;
    height: 350px;
}
.second-header{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;
}
.second-section{
    padding: 50px;
}
.second-paragraph{
    font-size: 20px;
}
.second-button{
    margin-top: 30px;
}
/* last main section */
.last-main{
    background-image: url("/images/background.png") , linear-gradient(45deg , #333333 , #2a2727);
    width: 100%;
    height: 500px;
    color: white;
}
.last-main-section-header{
    font-size: 70px;
    text-align: center;
    font-weight: 800px;
    margin-bottom: 20px;
}
.image-icon{
    width: 80px;
    height: 80px;
}
.last-header{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;

}
.first-div{
    /* border: 2px solid green; */
    width: 230px;
    height: 280px;
    padding: 20px;
    text-align: center;
    background-color: #141414;
    border-radius: 10px;

}
.last-button{
    font-size: 16px;
    background-color:#4b4545;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.four-div-section{
    display: flex;
    justify-content: space-around;
}
.last-main{
    padding: 30px 0px;
}
/* footer section related styles */
.last-foot{
    background-color: #050505;
    color: white;
}
.last-foot-div{
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    padding: 50px;

}
.last-image{
    /* width: 180px; */
    height: 35px;
    margin-bottom: 16px;
}
.last-para{
    font-size: 15px;
    margin-bottom: 10px;
}
.footer-section{
    /* border: 2px solid green; */
    /* width: 250px; */
    height: 200px;
    padding: 20px;
}
.last-paragraph{
    font-size: 20px;
    margin-bottom: 20px;
}
hr{
    background-color: white;
    /* color: white; */
    /* margin: 20px; */
    width: 80%;
    margin: 0px auto;
}
.last-para-copy{
    font-size: 16px;
    text-align: center;
    padding: 20px 0px;
}